#ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#li{
    width:100px;
    height: 50px;
    cursor: pointer;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px grey solid;
}